html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    height: 100%;
}

.navbar {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    color: #343a40;
    margin-left: 1rem;
    flex-grow: 1;
}

.navbar-toggler {
    margin-right: 1rem;
}

.sidebar {
    background: #343a40;
    color: white;
    padding: 20px;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 420px;
    overflow: hidden;
    height: 100%;
    position: relative;

    &.collapsed {
        width: 60px;
        padding: 20px 10px;
    }

    h4 {
        color: #ffffff;
        margin-bottom: 20px;
    }

    button {
        background: none;
        border: none;
        color: #ffffff;
        outline: none;
        padding: 10px;
        cursor: pointer;
        transition: background 0.3s, transform 0.3s;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transform: scale(1.1);
        }
    }

    .icon-collapse:before {
        content: '\25C0'; // Unicode for left-pointing arrow
        font-size: 18px;
    }

    .icon-expand:before {
        content: '\25B6'; // Unicode for right-pointing arrow
        font-size: 18px;
    }

    .toggle-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.content {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    height: 100%;
}